*{
  margin: 0;
  padding: 0;
}

:root{
  --brand-color: #EF5F4C;
  --back-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-tranparency: #ffffff8f; 
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;
  /* --heading-size: 32px; */
} 

body{
  color: var(--text-color-secondary);
  background-color: var(--back-color);
}